<div class="home-page-div">
  <h1>Mugs!</h1>
  <p>Find me in app/views/pages/index.html.erb</p>

  <div class="row">
    <div class="col">
      <%= image_tag("adventure.jpg") %>
    </div>
    <div class="col">
      <%= image_tag("batman.jpeg") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag("catmug.jpg") %>
    </div>
    <div class="col">
      <%= image_tag("donut-mug-600x600.jpg") %>
    </div>
  </div>
  
</div>
